/* font size of title */
h1 {
    font-style: italic;
    background-color: deepskyblue;
    color: white;
    padding: 10px;
    border-radius: 5px; 
}

/* body of code */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* Top right button */
#descriptionBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    background-color: rgb(17, 113, 145);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
}

/* Info box */
#description {
    position: fixed;
    top: 60px;
    right: 20px;
    width: 250px;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 999;
}

/* font-size of subtitle */
h4 {
    text-align: center;
    font-size: italic;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

/* The "limo1" box */

