* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
}

html {
    scroll-behavior: smooth;
}


/* Header styles */
header {
    background-color: #0e0d09;
    color: white;
    padding: 20px;
    position: relative;
    height: 105px;
    z-index: 100;
}

header img {
    height: 90px;
    width: 105px;
    position: absolute;
    top: 10px;
    left: 100px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #d2ab56;
    transition: 0.3s;
    cursor: pointer;
}

nav {
    margin: 20px 70px;
    top: 10px;
    right: 440px;
    position: absolute;
    font-size: 20px;
}

.nav-links {
    display: flex;
    gap: 300px;
    list-style: none;
}

.nav-links li {
    display: block;
    padding: 10px;    
}

.make-reservation {
    text-align: right;
    margin-right: 20px;
    font-size: 18px;
    margin-top: 0;
}

.make-reservation #p2 {
    margin-top: 10px;
    position: relative;
    right: 60px;
}

.make-reservation #p3 {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    right: 21px;
    color: #d2ab56;
}

.make-reservation #p3:hover {
    color: #e2bc6a;
    transition: 0.3s;
}


/* Vehicle List Styles */
main {
    display: flex;
    flex-direction: column;
}

.vehicle {
    position: relative;
    padding: 250px 300px;
    min-height: 100vh;
    display: flex;
    z-index: 1;
    overflow: hidden;
}

.vehicle::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(Images/ChatGPT\ Image\ Jan\ 3\,\ 2026\,\ 06_24_21\ PM.png) no-repeat center center;
    background-size: cover;
    z-index: -1;
}