* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
}


/* Header styles */
header {
    background-color: #0e0d09;
    color: white;
    padding: 20px;
    position: relative;
    height: 105px;
    z-index: 100;
}

header img {
    height: 90px;
    width: 105px;
    position: absolute;
    top: 10px;
    left: 100px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #d2ab56;
    transition: 0.3s;
    cursor: pointer;
}

nav {
    margin: 20px 70px;
    top: 10px;
    right: 400px;
    position: absolute;
    font-size: 20px;
}

.nav-links {
    display: flex;
    gap: 150px;
    list-style: none;
}

.nav-links li {
    display: block;
    padding: 10px;    
}

.make-reservation {
    text-align: right;
    margin-right: 20px;
    font-size: 18px;
    margin-top: 0;
}

.make-reservation #p2 {
    margin-top: 10px;
    position: relative;
    right: 60px;
}

.make-reservation #p3 {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    right: 21px;
    color: #d2ab56;
}


/* Hero content styles */ 
main {
    display: flex;
    flex-direction: column;
}

.hero {
    position: relative;
    padding: 250px 300px;
    min-height: 100vh;
    display: flex;
    z-index: 1;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(ChatGPT\ Image\ Jan\ 1\,\ 2026\,\ 06_12_59\ PM.png) no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.hero-content {
    color: white;
    text-align: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px 25px;
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out;
    opacity: 0.8;
    width: 75%;
    position: relative;
    top: -150px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 0.75;
        transform: translateY(0);
    }
}

#title-hero {
    color: #d2ab56;
    font-size: 30px;
    margin-bottom: 20px;
}

#subtitle-hero {
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 50px;
    position: relative;
    right: -25px;
}

#request-quote-btn {
    background-color: #d2ab56;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
}

#request-quote-btn:hover {
    background-color: #b89044;
    transition: 0.3s;
}


/* About Us Section */
.about-us {
    padding: 20px;
    text-align: center;
    background-color: #1e1c16;
    position: relative;
    z-index: 100;
}

#about-us-content {
    max-width: 100%;
    margin: 0 auto;
    padding: 5px 20px;
    padding-bottom: 50px;
    position: relative;
}

#about-us-content::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 2px;
    background-color: #b89044;
}

#about-us-content h1 {
    color: #b89044;
    font-size: 36px;
    margin-bottom: 20px;
}

#about-us-content p {
    color: white;
    font-size: 20px;
    line-height: 1.6;
    width: 100%;
    margin: 0 auto;
    padding: 0 200px;
    text-align: left;
    padding-left: 270px;
    margin-bottom: 15px;
}

#reviews-content h1 {
    color: #b89044;
    font-size: 36px;
    margin-top: 25px;
    margin-bottom: 5px;
}

#reviews-content p {
    color: white;
    font-size: 25px;
    line-height: 1.6;
    background-color: #3f3e45;
    padding: 15px;
    border-radius: 10px;
    width: 60%;
    margin: 5px auto;
    height: auto;
}

.right-arrow, .left-arrow {
    border: solid #b89044;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    margin-top: 50px;
}

.left-arrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: relative;
    left: -600px;
    bottom: -150px;
}

.left-arrow:hover {
    border-color: #e2bc6a;
    transition: 0.3s;
}

.right-arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: relative;
    right: -600px;
    bottom: 180px;
}

.right-arrow:hover {
    border-color: #e2bc6a;
    transition: 0.3s;
}


/* Contact Section */
.contact-us {
    background-color: #3f3e45;
    padding: 50px 20px;
    text-align: center;
    position: relative;
    z-index: 100;
}

#contact-us-content {
    max-width: 100%;
    margin: 0 auto;
}

#contact-us-content h1 {
    color: #b89044;
    font-size: 36px;
    margin-bottom: 30px;
}

.phone-numbers, .email-address {
    margin: 20px 0;
}

.contact-us p {
    color: white;
    font-size: 25px;
    margin: 10px 0;
}

.contact-us a {
    color: #d2ab56;
}

.contact-us a:hover {
    color: #e2bc6a;
}


/* Footer section */
footer {
    background-color: #0e0d09;
    color: white;
    text-align: center;
    padding: 30px;
    position: relative;
    z-index: 100;
    height: 170px;
}

footer .nav-links {
    display: flex;
    gap: 150px;
    list-style: none;
}

footer .nav-links li {
    display: block;
    padding: 10px;    
}

.copy-rights {
    position: absolute;
    bottom: 1px;
    left: -10px;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.345);
}